/* Remove default Vite spacing */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.bt-content {
  min-height: 100vh;
  background-color: #e0e0e0;
}

.bst-heading {
  background-color: #207225;
  padding: 10px;
}

.bst-heading h1 {
  color: #ffeb39;
  margin: 0;
  padding-left: 2px;
  font-size: 32px ;
}

.input-field {
  background-color: #c8e6c9;
  padding: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.display-message{
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  color: black;
}

/* Tree container */
.tree-node {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.children {
  display: flex;
  justify-content: center;
  gap: 80px;        /* controls horizontal spacing */
  margin-top: 60px; /* vertical spacing */
  position: relative;
}

.lchild {
  display: flex;
  justify-content: center;
  position: relative;
}

.rchild {
  display: flex;
  justify-content: center;
  position: relative;
}

/* Node styling */
.node-circle {
  background-color: #2e7d32;
  color: white;
  padding: 14px 20px;
  border-radius: 50%;
  font-weight: bold;
  display: inline-block;
  min-width: 40px;
  position: relative;
  text-align: center;
}

/* LEFT CHILD */
/* .left-child {
  position: absolute;
  top: 50px;
  left: -130px;
}

/* RIGHT CHILD */
/* .right-child {
  position: absolute;
  top: 50px;
  right: -130px;
} */ */


/* .lchild::before {
  content: "";
  position: absolute;
  top: -35px;
  right: -70px;
  width: 150px;
  height: 2px;
  background: #444;
  transform: rotate(-35deg);
  transform-origin: right center;
}

/* Diagonal line RIGHT */
.rchild::before {
  content: "";
  position: absolute;
  top: -35px;
  left: -60px;
  width: 150px;
  height: 2px;
  background: #444;
  transform: rotate(35deg);
  transform-origin: left center;
} 